/* right use of rem and px? */
/* nest header inside main? */
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-pink: hsl(275, 100%, 97%);
    --clr-grayish-blue: hsl(292, 16%, 49%);
    --clr-dark-purple: hsl(292, 42%, 14%);
}

@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/static/WorkSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/static/WorkSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Work Sans";
    src: url("assets/fonts/static/WorkSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: var(--clr-light-pink);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%
}

main {
    background-color: var(--clr-white);
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

header {
    display: flex;
    gap: 1rem;
}

h1 {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
}

li {
    padding: 0.75rem;
    border-bottom: 1px solid var(--clr-grayish-blue);
}

ul li:last-child {
    border-bottom: none;
}

h1 {
    font-weight: 700;
}

summary {
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

summary:after {
    content: "";
    background: url("assets/images/icon-plus.svg");
    height: 31px;
    width: 30px;    /* image's width and height in px */
}

details[open] summary:after {
    background: url("assets/images/icon-minus.svg");
}

p {
    font-weight: 400;
    color: var(--clr-grayish-blue);
}

@media screen and (max-width: 1000px) {
    body {
        background-image: url("assets/images/background-pattern-mobile.svg");
    }
}

